@import 'tailwindcss';




#home, #login, #signup{
     background-image: url('/images/background.png');
     background-size: cover;
     background-repeat: no-repeat;
}

button{
     cursor: pointer;
}